body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

form {
    width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:last-child {
    margin-right: 0;
    background-color: #0056b3;
}

a:hover {
    background-color: #45a049;
}

div {
    width: 400px;
    margin: 20px auto;
    text-align: center;
}
