/* shop.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* #mini-cart {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mini-cart h2 {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0;
}

#mini-cart table {
    width: 100%;
    border-collapse: collapse;
}

#mini-cart th,
#mini-cart td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#mini-cart th {
    font-weight: bold;
}

#mini-cart a {
    color: #007bff;
    text-decoration: none;
}

#mini-cart a:hover {
    text-decoration: underline;
} */

#mini-cart {
  margin-top: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

#mini-cart h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

#mini-cart table {
  width: 10%;
  border-collapse: collapse;
  margin-top: 10px;
}

#mini-cart table th,
#mini-cart table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#mini-cart table th {
  background-color: #007bff;
  color: #fff;
}

#mini-cart table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#mini-cart p {
  margin-top: 10px;
  text-align: left;
}
#mini-cart a{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: right;
  margin-right: 75px;
}



#products-container {
    display: flex;

    justify-content: space-between;
    margin: 20px 0;
}

.product-item {
    width: 20%;
    padding: 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.product-item img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.product-item h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-item p {
    margin-bottom: 10px;
}

.product-item form {
    display: flex;
    justify-content: flex-end;
}

.product-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #0056b3;
}
.product-item-button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  
}

.product-item-button>a{
  color: white;
  text-decoration: none;
}



 .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination a, .pagination span {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .pagination .current-page {
    background-color: #007bff;
    color: #fff;
    pointer-events: none;
    cursor: default;
  }
  
  .pagination a:hover {
    background-color: #f1f1f1;
  }
  
  .pagination .disabled-link {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
  }
  .cov{
    height: 5rem;
    width: 50rem;
  }
  form {
    margin-top: 10px;
    align-items: center;
  }
  
  form button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  form button:hover {
    background-color: #2d81db;
  }


  
  #cartbtn{
    margin-left: 570px;
    padding: 7px;
    background-color: #0056b3;
    color: #f0f0f0;
    text-decoration-line: none;
    border-radius: 4px;

  }
  #logoutbtn{
    padding: 7px;
    background-color: #0056b3;
    color: #f0f0f0;
    text-decoration-line: none;
    border-radius: 4px;

  }

h4{
    text-align: center;
}
td a{
    margin-left: 570px;
    padding: 7px;
    background-color: #0056b3;
    color: #f0f0f0;
    text-decoration-line: none;
    border-radius: 4px;
}


#logout-container{
  margin-top: 40px;
  align-items: center;
}

#logout-container a{
  border-radius: 4px;
  margin-left: 250px;
  padding: 6px;
  background-color: #0057b4;
  color: #fff;
  text-decoration: none;
  align-items: center;
}